    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="products">
                VikzOn
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="products/add-product">Add New Product</a></li>
                   
                </ul>
                <form class="d-flex">
                    <input (keyup)="searchData($event)" [ngModel]="searchTerm"  name="s1" id="sid" type="text" placeholder="Search your product" class="form-control p-1">
                    <button class="btn btn-outline-dark ms-1" type="submit">
                       Search
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="banner py-5">
        <div class="container px-2 px-lg-5 my-5">
            <div class="text-center text-white ">
                <div class="row">
                    <div class="col-lg-6 ">
                    <div class="text-start">
                    <img src="https://i.postimg.cc/bNNNL6gs/create-animated-gif-for-web-and-social-media-1.gif" width="60%"  alt="">
    
</div>    
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-4 fw-bolder text-center mt-2">Shop in style</h1> 

                    </div>
                </div>
         </div>
        </div>
    </header>