      <!-- Product section-->
      <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImg}}" height="100%" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">{{pdata.product}}</h1>
                    <div class="fs-5 mb-5">
                        <h5 ><strong>{{pdata.price}} </strong> </h5> 
                        <h6>  Rating  {{pdata.rating}}</h6>
                    </div>
                    <p class="lead">{{pdata.description}}</p> <br>
                    <p>Warrenty | {{pdata.warrenty}}</p>
                <p>review | {{pdata.review}}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <a href="products/edit-product/{{pdata.id}}">Edit</a>
                        </button>
                        <button class="btn btn-outline-dark flex-shrink-0 ms-2" type="button">
                            <a href="products/delete-product/{{pdata.id}}">Delete</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
